.DS_Store
__pycache__
*.pyc
steb_datasets/hate-speech-dataset
steb_datasets/hate-speech-and-offensive-language
steb_datasets/CharCnn_Keras
steb_datasets/blogs
steb_datasets/enron_authorship_corpus
steb_datasets/Enron (80 authors)
steb_datasets/blogs.zip
processed_datasets
